*{
    box-sizing: border-box;
}
/* General styles */
:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --white: #ffffff;
   }
body {
    font-size: 13px; 
    font-family: 'Poppins', sans-serif;
    background: var(--Very-Light-Gray);
}
a { 
    color: hsl(228, 45%, 44%);
 }
 p {
     font-weight: 200;
 }

header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
h1 {
    font-weight: 200;
}
span {
    font-weight: 600;
}
header p {
    max-width: 85%;
    font-size: 15px;
    text-align: center;
}
.grid {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    width: 100%;
    max-width: 72%;
    margin: 20px  auto;
}
.box h3, p {
    margin-left: 25px;
}
.box {
    border-radius: 5px;
    background: var(--white);
    box-shadow: 1px 5px 20px 5px var(--Grayish-Blue);
    height: 250px;
    width: 100%;
}
.one {
    border-top: var(--Cyan) solid 3px;
    position: relative;
    margin-bottom: 20px;
}
.two {
    border-top: var(--Red) solid 3px;
    margin-bottom: 20px;
}
.three {
    border-top: var(--Orange) solid 3px;
    margin-bottom: 20px;
}
.four {
    border-top: var(--Blue) solid 3px;
    /* margin-bottom: 20px; */
}
img {
    margin: 40px 0 0 150px;
}
footer {
    margin: 50px 40px 0 0;
    
}

/* DeskTop */
@media only screen and (min-width: 1024px) {
    
    h1, span {
        font-size: 2.25rem;
    }
    header p {
        max-width: 65%;
        font-size: 1.25rem;
    }
    .grid {
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
        width: 100%;
        max-width: 95%;
        height: 230px;
    }
    .box {
        width: 100%;
    }
     .one{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-top: 120px;
    }
    .two {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        
    }
    .three {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: -130px;
        
    }
    .four {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-top: 120px;
    }
    
    footer {
        display: flex;
        justify-content: center;
        margin-top: 20rem;
    }
}



